body {
    background-color: #2f4454;
    font-family: 'Changa', sans-serif;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 100%;
}

#npm-modules {
    width: 40%;
}

#nodemon {
    width: 100%;
}

#jasonfil {
    width: 65%;
}

#objekt {
    width: 25%;
}

#splice-img {
    width: 100%;
}
